body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #D1E8E2;
}
header {
    text-align: center;
    text-decoration: none;
    background-color: lightcyan;
    color: black;
    padding: 10px;
}
header a {
    color: black;
}
header a:hover {
    text-decoration: none;
}
nav {
    text-align: center;
    background-color: #333;
    overflow: hidden;
    padding: 8px;
    color: white;
    font-size: 19px;
    cursor: default;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
section {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-grow: 1;
}
article {
    padding-left: 10px;
    width: 70%;
}
aside {
    background-color: #A9D6E5;
    width: 30%;
    padding-left: 10px;
    padding-top: 5px;
    font-size: large;
}
aside a {
    color: black;
}
footer {
    background-color: #C3DDD9;
    padding: 20px;
    color: #283845;
    text-align: center;
    width: 100%;
}
footer a {
    color: #283845;
    text-decoration: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    background-color: transparent;
    border: none;
    font-size: medium;
    color: #283845;
}
button:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    section {
        flex-direction: column;
    }
    aside nav {
        width: 100%;
    }
}
