body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    color: #333;
}
.book {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.book h2 {
    color: #007BFF;
}
.content {
    margin-left: 20px;
}
.content ul {
    list-style-type: none;
    padding-left: 0;
}
.content li {
    padding: 5px 0;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007BFF;
    color: white;
    padding: 15px;
    border-radius: 50%;
  }

  #backToTopBtn:hover {
    background-color: #555;
  }
.tablecontents {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tablecontents h2 {
    color: #007BFF;
}
.tablecontents ul {
    list-style-type: none;
    word-wrap: break-word;
}